@charset "UTF-8";
html,
body {
  font-family: Arial, sans-serif;
  background-color: #020202;
  color: #fcfcfd;
}

h1 {
  font-size: 2.5rem;
  color: #fcfcfd;
  margin-top: 50px;
  text-align: center;
}

.container {
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("/img/baner6.jpg");
  background-size: cover;
  background-position: center;
  padding: 10px;
  height: 15vh;
  margin: 0 auto;
  width: 80%;
  max-width: 90vw;
}

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    height: auto;
  }
}

.logotipo {
  color: #fcfcfd;
  flex: 1;
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  margin-top: 10px;
}

nav {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  nav {
    text-align: center;
    margin-top: -20px;
  }
}

nav a {
  display: block;
  padding: 10px 15px;
  margin-left: 20px;
  color: #d1cfcf;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 768px) {
  nav a {
    display: block;
    margin: 10px 0;
  }
}

nav a.activo {
  color: #fcfcfd;
}

#input-search {
  width: 80%;
  margin-top: 20px;
  height: 4px;
  border: none;
  background-color: #ddd;
  outline: none;
  font-size: 16px;
  padding: 10px;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #fcfcfd;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

select {
  margin-right: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contact {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/1366_2000.png);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: flex-end;
  padding: 100px 0;
}

#contact h2 {
  text-align: center;
  padding-bottom: 10px;
  color: #fcfcfd;
}

#contact p.large {
  text-align: center;
  padding-bottom: 50px;
  color: #fcfcfd;
  margin: 0 auto;
  /* Agrega esta línea para centrar horizontalmente el párrafo */
  max-width: 80%;
  /* Establece el ancho máximo del párrafo al 90% */
}

#contact .btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}

#contact .btn-dark {
  background: #273746;
  border: 1px solid #273746;
  color: #fff;
}

#contact form {
  width: 50%;
  margin: 0 auto;
}

#contact form label {
  display: inline-block;
  margin-bottom: 6px;
}

#contact form .form-group {
  margin-bottom: 16px;
}

#contact form .form-group-control {
  width: 100%;
  padding: 7px 12px;
  font-size: 1rem;
  line-height: 1.5;
  background: #d1cfcf;
  border: none;
  border-radius: 4px;
}

#contact form button {
  width: 100%;
}

#image-list {
  display: flex;
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan en filas */
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
}

#image-list li {
  flex: 0 0 calc(20% - 20px); /* Establece el ancho de cada imagen y deja un espacio entre ellas */
  margin: 10px; /* Agrega un margen alrededor de cada imagen */
}
@media screen and (max-width: 768px) {
  #image-list li {
    width: 50%; /* Cambia el ancho a 50% para mostrar 2 elementos en una fila en pantallas más pequeñas */
  }
}

@media screen and (max-width: 480px) {
  #image-list li {
    width: 100%; /* Cambia el ancho a 100% para mostrar 1 elemento en una fila en pantallas aún más pequeñas */
  }
}

#mainfooter {
  background: #fcfcfd;
  text-align: center;
  padding: 30px;
}
